/**{*/
/*    font-family:Arial, sans-serif;*/
/*    font-variant:small-caps;*/

/*}*/


/* Hide number input spinner */

@property --angle {
  syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#ai-animate-btn::after, #ai-animate-btn::before {
    content: 'Generate Key Results';
    position: absolute;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    width: 100%;
    top: 50%;
    left: 50%;
border-radius: 100%;
    /*background: red;*/
    translate: -50% -50%;
    z-index: -1;
    padding: 20px;
    animation: 3s spin linear infinite ;
}

#ai-animate-btn::before {
    filter: blur(0.9rem);
    /*opacity: 0.5;*/
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }

}